#divFloatToolsView{
	text-align: center;

}






.float0831 {
	POSITION: fixed; TOP: 93px; RIGHT: 23px; _position: absolute;
	z-index: 10;

}
.float0831 A {
	COLOR: #00a0e9
}
.float0831 A:hover {
	COLOR: #ff8100; TEXT-DECORATION: none
}
.float0831 .floatL {
	POSITION: relative; WIDTH: 28px; FLOAT: left
}
.float0831 .floatL A {
	TEXT-INDENT: -9999px; DISPLAY: block; FONT-SIZE: 0px
}

.float0831 .floatR {
	PADDING-BOTTOM: 15px; WIDTH:348px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -131px bottom; FLOAT: left; /*overflow: auto;*/
}



.float0831 .cn {
	BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: -262px 0px;

}


.float0831 .btnOpen {
	BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .btnOpen_n {
	BACKGROUND: url(../img/float_s.gif) no-repeat
}
.float0831 .btnCtn {
	BACKGROUND: url(../img/float_s.gif) no-repeat
}

.float0831 .btnOpen {
	BACKGROUND-POSITION: -30px -396px
}
.float0831 .btnOpen_n {
	BACKGROUND-POSITION: 0px -530px
}
.float0831 .btnCtn {
	BACKGROUND-POSITION: 0px -396px
}

.float0831 .btnOpen {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnOpen_n {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnCtn {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px
}
.float0831 .btnOpen {
	TOP: 118px; LEFT: 1px
}
.float0831 .btnOpen_n {
	TOP: 118px; LEFT: 1px
}
.float0831 .btnCtn {
	TOP: 118px; LEFT: 2px
}


#selections { 
				
				padding: 18px 20px 0; 
				margin:20px auto;
				background-color: #0064cd;
				background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
				background-image: -moz-linear-gradient(#049cdb, #0064cd);
				background-image: -ms-linear-gradient(#049cdb, #0064cd);
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
				background-image: -webkit-linear-gradient(#049cdb, #0064cd);
				background-image: -o-linear-gradient(#049cdb, #0064cd);
				background-image: linear-gradient(#049cdb, #0064cd);	
				-webkit-border-radius: 10px; 
				-moz-border-radius: 10px; 
				-khtml-border-radius: 10px; 
				border-radius: 10px;			
				-webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
				-moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
				-khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
				box-shadow: 0 5px 12px rgba(0,0,0,.4); 
			}
			fieldset { 
				border: 0; 
				padding-bottom: 9px;
			}
			legend{
				margin-left: 1px;
			}
			label { 
				display: block; 
				cursor: pointer; 
				line-height: 20px; 
				padding-bottom: 9px; 
				text-shadow: 0 -1px 0 rgba(0,0,0,.2); 
			}
			.checkboxes,.radios {
				border-bottom: 1px solid #0064cd;
			}
			.radios { 
				padding-top: 18px;
				border-top: 1px solid #049CDB;
			}
			.label_check input,
			.label_radio input { 
				/*margin-right: 5px; */
			}
			
			.has-js .label_check,
			.has-js .label_radio { 
				/*padding-left: 34px; */
			}
			
			.has-js .label_radio, 
			.has-js .label_check{ 
				background: url(../img/checkbox-radio-bg.png) no-repeat; 
			}
			.has-js .label_radio { 
				background-position: 0 0; 
			}
			.has-js .label_check { 
				background-position: 0 -100px
			}
			.has-js label.c_on { 
				background-position: 0 -150px;
			}
			.has-js label.r_on { 
				background-position: 0 -50px; 
			}
			.has-js .label_check input,
			.has-js .label_radio input { 
				position: absolute; 
				left: -9999px; 
			} 